%header
  .container
    %h1 Troy Starwalt
    %p Web Developer
  .social--container
    %ul
      %li.social--icon
        %a{href: "https://github.com/troystarwalt", class: "social--link"}
          %i.fa.fa-github
      %li.social--icon
        %a{href: "https://github.com/troystarwalt", class: "social--link"}
          %i.fa.fa-linkedin
      %li.social--icon
        %a{href: "mailto:t.roystarwalt@gmail.com", class: "social--link"}
          %i.fa.fa-envelope-o
