%section#who
  .container
    .about
      %h2 who am i?
    .photo
      =image_tag("troy-starwalt.jpg", class: "responsive")
    .sorry
      %p.subuded
        Sorry for the mustache, but it's for a good
        = succeed '.' do
          %a{:href => "https://us.movember.com/"}cause
