@import 'variables';
//Importing other sections.
@import 'work';

// Main CSS to kick off the homepage.

header {
  background: $deep-red;  // fallback for old browsers
  background: linear-gradient(to right, $orange-red, $deep-red); //W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
  color: $white;
  height: calc(100vh - #{$header-padding-top});
  padding-top: $header-padding-top;
  position: relative;
}

.social--container {
  position: absolute;
  bottom: 0;
  width: 100%;
  ul {
    display: flex;
    justify-content: center;
    li {
      background-color: $grey-black;
    }
  }
  .social--link,
  .social--link:link
  .social--link:visited {
    color: $white;
    padding: 20px 25px;
    display: block;
    &:hover {
      color: $white;
    }
  }
}

.title--container {
  margin: 50px 0 15px 0;
}


.section-title {
  display: inline-block;
  background: $orange-red;
  padding: 5px 15px;
  color: $white;
  position: relative;
  &::after {
    content: '';
    border-bottom: 1.5px solid $orange-red;
    width: 0;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 1s linear;
  }
}

.section-title:hover {
  &::after {
    width: 112px;
  }
}

.site-title {
  text-align: center;
  margin-top: 20px;
}

.list-title {
  // font-size: 1.5em;
  margin-bottom: 5px;
  font-family: $heading-font;
}

.description {
  margin-top:10px;
  margin-bottom: 15px;
  .btn {
    margin-top: 10px;
  }
}
