@import 'variables';

nav {
  background: transparent;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 72px;
  p {
    padding: 0;
    margin: 0;
    .logo,
    .logo:link {
      background: $main-bg;
      padding: 0 20px;
      color: $white;
      font-size: 20px;
    }
  }
  a {
    display: block;
    line-height: 70px;
    height: 100%;
  }
  ul {
    display: flex;
    background: $white-grey;
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    height: 100%;
  }
}

.nav-link {
  text-align: center;
  padding: 0;
  a,
  a:link {
    color: $deep-red;
    padding: 0 17px;
    &:hover {
      color: $almost-black;
    }
  }
}
