// Variables

// Colors
$deep-red: #cb2d3e;
$orange-red: #ef473a;
$dark-grey: #242423;
$white: #fcfcfc;
$white-grey: #eaeaea;


// Background
$main-bg: $orange-red;

// Font Colors

$main-font: $dark-grey;
