// Variables

//
// Colors
//
$deep-red: #cb2d3e;
$orange-red: #ef473a;
$almost-black: #242423;
$white: #fcfcfc;
$white-grey: #eaeaea;


// Background Colors
$main-bg: $orange-red;

// Font Colors
$main-font-color: $almost-black;

//
// Spacing
//
$header-padding-top: 120px;

//
// Fonts
//
$main-font: 'Open Sans', sans-serif;
$heading-font: 'Montserrat', sans-serif;
$black-font-weight: 900;
$regular-font-weight: 400;
$light-font-weight: 300;
