%nav
  %p
    =link_to 'TS', root_path, class: 'logo expander'
  .nav-container#navbar
    %ul#navigation
      %li.nav-link
        %a{:href => "/#work"}
          work
      %li.nav-link
        %a{:href => "/#projects"}
          projects
      %li.nav-link
        %a{:href => "/#who"}
          who
